<div class="row">
  <div class="span6">
    <div class="well">
      <h2>Sign up</h2>

      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <%= f.label :email %>
        <%= f.email_field :email, :autofocus => true, class: "input-block-level" %>

        <%= f.label :password %>
        <%= f.password_field :password, class: "input-block-level" %>

        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: "input-block-level" %>

        <%= f.submit "Sign up", class: "btn btn-primary btn-block" %>
      <% end %>

    </div>
  </div>
  <div class="span6">
    <div class="well">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>