<div class="event">

	<span class="content">
		<%= link_to event.title, edit_baby_event_path(@baby, event)  %>
		<%= event.description %>
	</span>

	<span class="timestamp">
		Happened at <%= event.happened_at %>, <%= time_ago_in_words(event.happened_at) %> ago.
	</span>
	This event is of type: <%= event.event_type %>
	<%= link_to "Delete", baby_event_path(@baby, event), :confirm => 'Are you sure?', method: :delete %>
	<p>a</p>
	<p>a</p>
	<p>a</p>
	<p>a</p>
	<p>a</p>
	<p>a</p>
	<p>a</p>
	<p>a</p>
	<p>a</p>
	<p>a</p>
	<p>a</p>
	<p>a</p>
	
</div>