<%= render 'shared/error_messages', object: f.object %>
<div class="control-group">
	<% event_types = getEventTypes() %>
	<%= f.label :title %>
	<%= f.text_field :title, placeholder: "Event's title" %>
  <%= f.label :description %>
  <%= f.text_area :description, placeholder: "Event's description" %>
  <%= f.label :event_type %>
  <%= f.select(:event_type, options_for_select(event_types))%>
  <%= f.label :happened_at %>
  <%= f.datetime_select :happened_at, placeholder: "When it happened" %>
</div>
