<div class="row">
  <div class="span12">
    <div class="well">
      <h1>Making baby</h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="span12">
    <div class="well">
      <%= form_for @baby, html: { class: 'form-horizontal' } do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div class="control-group">
          <%= f.label :name %>
          <%= f.text_field :name, placeholder: "What is your baby's name?" %>
          <%= f.label :birth, "Birth Date" %>
          <%= f.text_field :birth_date, class: "datepicker", placeholder: "mm/dd/yyyy" %>
          <%= f.text_field :birth_time, class: "timepicker", placeholder: "hh:mm" %>
        </div>
        <div class="form-actions">
          <%= f.submit "Add Baby", class: "btn btn-primary btn-block" %>
        </div>
      <% end %>
    </div>
  </div>
</div>