<% provide(:title, @baby.name) %>
<h2><%= @baby.name %></h2>

<div class="row">
  <div class="span8">
    <h3>Measurements</h3>
  </div>
  <div class="span4">
    <%= link_to "New Measurement", new_baby_measurement_path(@baby), class: "btn pull-right" %>
  </div>
</div>

<table class="table table-striped table-bordered">
  <% if @baby.measurements.empty? %>
    <tr>
      <td><%= @baby.name %> has no measurements!</td>
    </tr>
  <% else %>
    <tr>
      <th>Measurement Taken</th>
      <th>Height</th>
      <th>Weight</th>
    </tr>
    <%= render @baby.measurements %>
  <% end %>
</table>


<div class="row">
  <div class="span8">
    <h3>Timeline</h3>
  </div>
  <div class="span4">
   <%= link_to "New Event", new_baby_event_path(@baby), class: "btn pull-right" %>
  </div>
</div>
<% if @baby.events.any? %>
  <ol class="events">
    <%= render @baby.events %>
  </ol>
  <% else %>
    <div class="span8"><%= @baby.name %> has no timeline events recorded!</div>
<% end %>
