<tr>
  <td>
    <%= link_to l(measurement.created_at), edit_baby_measurement_path(@baby, measurement) %>
  </td>
  <td>
    <%= measurement.height %>
  </td>
  <td>
    <%= measurement.weight %>
  </td>
  <td>
  	<%#= getData %>
  	<%= Date.today %>
  	<%= @baby.birth.to_date %>
  	<%= current_age = (Time.now - @baby.birth).to_date %>
  	<%#=findDataByAge	 %>
  </td>
</tr>