<tr>
  <td>
    <%= link_to l(measurement.created_at), edit_baby_measurement_path(@baby, measurement) %>
  </td>
  <td>
    <%= measurement.height %>
  </td>
  <td>
    <%= measurement.weight %>
  </td>
  <td>
  	<%= getData.keys %>
  	<%#= measurement.happened_at %>
  	<%#= @baby.birth %>
  	<%= (measurement.happened_at.to_date - @baby.birth.to_date).to_i %>
  	<%#=findDataByAge	 %>
  </td>
</tr>