<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>BabyNotes</title>

    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <%= render 'shared/shim' %>
  </head>
  <body>
    <%= render 'shared/nav_bar' %>

    <div class="container">
      <div class="content">
        <div class="row">
           <div class="span12">
              <%= content_tag(:div, flash[:error], :class => 'alert alert-error',) if flash[:error] %>
              <%= content_tag(:div, flash[:notice], :class => 'alert alert-warning') if flash[:notice] %>
              <%= content_tag(:div, flash[:alert], :class => 'alert alert-info') if flash[:alert] %>
              <%= content_tag(:div, flash[:success], :class => 'alert alert-success') if flash[:success] %>
            </div>
        </div><!--/row-->
        <%= yield %>
      </div><!--/content-->

      <%= render 'shared/footer' %>

      <% if Rails.env.development? %>
        <div class="debug">
          <%= debug(params) %>
          <!-- <%= debug(session) %> -->
        </div>
      <% end %>
    </div><!--/container-->
  </body>
</html>
